.home-intro {
  background: var(--white);
  background-image: var(--white-bg);
}

/* text Slider */
.intro-container,
.intro-container::before {
  height: auto;
  min-height: 90vh;
  width: 100%;
}
.intro-container {
  z-index: 2;
  background: transparent;
}

/* Video Player */
.intro-video-player {
  width: 100%;
  z-index: 1;
}

.video-js,
.vjs-tech,
.vjs-poster {
  outline: none;
}

.vjs-poster {
  background-size: cover;
}

.vjs-poster::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 7;
}

.vjs-big-play-button {
  display: none !important;
}
