.home-intro {
  background: var(--white);
  background-image: var(--white-bg);
}

/* text Slider */
.intro-container,
.intro-container::before {
  height: auto;
  min-height: 90vh;
  width: 100%;
}
.intro-container {
  z-index: 2;
  background: transparent;
}

/* Video Player */
.video-wrapper {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: 99;
  align-items: center;
  flex-direction: column;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.close-video {
  width: 700px;
  font-size: 2em;
  text-align: right;
  color: var(--white);
}

.intro-video-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player-custom {
  width: 700px;
  height: 500px;
  border: 3px solid var(--white);
  border-radius: 5px;
}

.video-js,
.vjs-tech,
.vjs-poster {
  outline: none;
}

.vjs-poster {
  background-size: cover;
}

.vjs-poster::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 7;
}

.intro-video-btn {
  z-index: 9;
  position: absolute;
}

.vjs-big-play-button {
  display: none !important;
}

@keyframes greenshadow {
  from {
    box-shadow: 0 0 0 transparent;
  }
  to {
    box-shadow: 0 0 5px var(--white), 0 0 20px var(--white),
      0 0 40px var(--white);
  }
}

.vjs-control-bar {
  background: var(--green);
  background-image: var(--green-bg);
}

/* Sigtseeing Preview gallery */
.st-prev-sec {
  min-height: 100vh;
  background-image: var(--black-bg);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.gallery-item:nth-child(1) {
  grid-row: 1/1;
  grid-column: 1/3;
}

.gallery-item:last-child {
  grid-row: 2/3;
  grid-column: 3/5;
}

.gallery-img {
  height: 50vh;
  width: 100%;
}

@media (min-width: 481px) and (max-width: 860px) {
  .close-video {
    width: 600px;
  }

  .video-player-custom {
    width: 600px;
    height: 400px;
  }

  .gallery {
    grid-template-columns: auto auto;
  }

  .gallery-item:nth-child(1) {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery-item:last-child {
    grid-row: auto;
    grid-column: auto;
  }
}

@media only screen and (max-width: 480px) {
  .close-video {
    width: 300px;
  }

  .video-player-custom {
    width: 300px;
    height: 300px;
  }

  .gallery {
    grid-template-columns: auto;
  }

  .gallery-item:nth-child(1) {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery-item:last-child {
    grid-row: auto;
    grid-column: auto;
  }
}
