.my-navbar {
  width: 100%;
  height: auto;
}

/* Top section */
.top-nav {
  background: black;
  background-image: var(--black-bg);
}

.nav-list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.2fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.logo {
  height: 4vh;
  width: 30px;
}

.nav-link {
  font-family: "Overpass", sans-serif;
  text-decoration: none;
  color: white;
  margin: 0 3px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--green);
}

/* Bottom section */
.bottom-nav {
  background: var(--green);
  background-image: var(--green-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.brand-name {
  font-family: "Kaushan Script", cursive;
}

.account-option {
  font-family: "Overpass", sans-serif;
  color: black;
  padding: 10px;
  font-weight: 800;
}

.account-option:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.ao-dropdown-options {
  position: absolute;
  right: 10px;
  list-style: none;
  background: black;
  color: #fff;
  z-index: 99;
}

.ao-dropdown-options li {
  font-size: 1em;
  font-family: "Overpass", sans-serif;
  padding: 10px;
  cursor: pointer;
}

.ao-dropdown-options li:hover {
  background: var(--green);
  background-image: var(--green-bg);
}
