.my-navbar {
  width: 100%;
  height: auto;
  z-index: 99;
}

/* Top section */

.brand {
  display: none;
}

.mytoggler {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  height: 4px;
  width: 35px;
  background: #fff;
  border-radius: 10px;
  margin: 7px;
  transition: 0.3s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-10px, 5px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-10px, -5px);
}

.nav-list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.logo {
  height: 4vh;
  width: 30px;
  cursor: pointer;
}

.nav-link {
  font-family: "Overpass", sans-serif;
  font-variant: small-caps;
  text-decoration: none;
  color: var(--black);
  margin: 0 3px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--green);
}

.search {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.search-input {
  flex: 1 80%;
}

#search-input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.search-icon {
  font-size: 1.3em;
  cursor: pointer;
}

/* Bottom section */
.bottom-nav {
  width: 100%;
}

.brand-name {
  font-family: "Kaushan Script", cursive;
  color: var(--black);
  cursor: pointer;
}

.account-option {
  font-family: "Overpass", sans-serif;
  color: var(--black);
  padding: 10px;
  font-weight: 800;
}

.account-option:hover {
  text-decoration: none;
  color: var(--green);
}

.ao-dropdown-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10px;
  list-style: none;
  background: black;
  color: #fff;
  z-index: 99;
}

.ao-dropdown-options li {
  font-size: 1em;
  font-family: "Overpass", sans-serif;
  padding: 10px;
  cursor: pointer;
}

.ao-dropdown-options li:hover {
  background: var(--green);
  background-image: var(--green-bg);
}

@media (min-width: 481px) and (max-width: 860px) {
  .brand {
    display: block;
    position: absolute !important;
    margin-left: 1rem;
    margin-top: 0.4rem;
  }

  .logo {
    height: 6vh;
  }

  .nav-list {
    display: none;
  }

  .drop-navlist {
    display: inline-block;
    text-align: center;
    width: 100%;
    list-style: none;
    transition: 1s;
  }

  .nav-logo {
    display: none !important;
  }

  .mytoggler {
    display: block;
    width: 50px;
  }

  .ao-dropdown-options {
    flex-direction: row;
    position: relative;
    width: 100%;
  }

  .ao-dropdown-options li {
    flex: 1 30%;
  }
}

@media only screen and (max-width: 480px) {
  .brand {
    display: block;
    position: absolute !important;
    margin-left: 1rem;
    margin-top: 0.4rem;
  }

  .nav-list {
    display: none;
  }

  .drop-navlist {
    display: inline-block;
    text-align: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-logo {
    display: none !important;
  }

  .mytoggler {
    display: block;
    width: 50px;
  }

  .ao-dropdown-options {
    flex-direction: row;
    position: relative;
    width: 100%;
  }
}
