html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

:root {
  --red-bg: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  --red: #ff0844;
  --black-bg: linear-gradient(to right, #434343 0%, black 100%);
  --green-bg: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  --green: #0ba360;
  --white-bg: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

button {
  outline: none !important;
}

/* Colors */
.green-bg {
  background: var(--green);
  background-image: var(--green-bg);
}

.black-bg {
  background: black;
  background-image: var(--black-bg);
}

.white-bg {
  background: #fff;
  background-image: var(--white-bg);
}

.red-bg {
  background: var(--red);
  background-image: var(--red-bg);
}

/* Fonts */
.medium-text {
  font-size: 1.1em;
}

.small-text {
  font-size: 0.9em;
}

/* Common Classes */
.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.center {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
