html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

:root {
  --red-bg: linear-gradient(to bottom, black, #dd1818);
  --red: #ff0844;
  --black-bg: linear-gradient(to right, #434343 0%, black 100%);
  --green-bg: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  --green: #0ba360;
  --white-bg: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  --white: #fdfcfb;
  --cream: #e2d1c3;
  --purple-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --purple: #764ba2;
}

button {
  outline: none !important;
}

/* Colors and Backgrounds */
.c-white {
  color: var(--white) !important;
}

.c-cream {
  color: var(--cream);
}

.purple-bg {
  background: var(--purple);
  background-image: var(--purple-bg);
}

.white-bg {
  background: var(--white);
  background-image: var(--white-bg);
}

.green-bg {
  background: var(--green);
  background-image: var(--green-bg);
}

.black-bg {
  background: black;
  background-image: var(--black-bg);
}

.red-bg {
  background: var(--red);
  background-image: var(--red-bg);
}

.transparent {
  background: transparent !important;
}

/* Fonts */
.heading {
  font-size: 4em;
}

.medium-text {
  font-size: 1.1em;
}

.small-text {
  font-size: 0.9em;
}

/* Homepage */
.home-intro {
  min-height: 100vh;
  overflow: hidden;
}

/* grids */
.two-sec-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.two-sec-grid-cols {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "leftCol rightCol";
}

.left-col,
.right-col,
.slick-slider {
  width: 100%;
  height: 100%;
  align-items: center;
}

.left-col {
  grid-area: leftCol;
}

.right-col {
  grid-area: rightCol;
  overflow: hidden;
}

/* Slider */
.slider-container {
  z-index: 99;
}

.slide h3 {
  font-family: "Overpass", sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}

.slide img {
  height: 30vh;
  width: 100%;
}

/* Video Buttons */
.play-btn-large {
  border: none;
  font-size: 5em;
  border-radius: 50%;
  background: var(--green);
  background-image: var(--green-bg);
  cursor: pointer;
  animation: shadowanime 0.7s infinite alternate;
}

.play-btn-large:hover {
  animation: none;
  box-shadow: 0 0 5px black, 0 0 20px black, 0 0 40px black;
}

@keyframes shadowanime {
  from {
    box-shadow: 0 0 0 transparent;
  }
  to {
    box-shadow: 0 0 5px black, 0 0 20px black, 0 0 40px black;
  }
}

/* Text conent */
.text-content {
  height: auto;
  width: 100%;
  top: 25vh;
  text-align: left;
  font-family: "Overpass", sans-serif;
  font-variant: small-caps;
}
.text-content p {
  font-variant: normal;
}

/* Common Classes */
.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.center {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.active {
  display: none;
}

.inactive {
  opacity: 0;
}

.cursor {
  cursor: pointer;
}

@media (min-width: 481px) and (max-width: 860px) {
  .two-sec-grid-cols {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "rightCol" "leftCol";
  }
}

@media only screen and (max-width: 480px) {
  .two-sec-grid-cols {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "rightCol" "leftCol";
  }

  .heading {
    font-size: 3em;
  }
}
