html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-family: "Overpass", sans-serif;
}

:root {
  --red-bg: linear-gradient(to bottom, black, #dd1818);
  --red: #ff0844;
  --black-bg: linear-gradient(to right, #434343 0%, black 100%);
  --green-bg: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  --green: #0ba360;
  --white-bg: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  --white: #fdfcfb;
  --cream: #e2d1c3;
  --purple-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --purple: #764ba2;
}

*:focus,
*:hover {
  -webkit-appearance: none;
  box-shadow: none;
}

button,
article {
  outline: none !important;
}

a,
a:hover {
  text-decoration: none;
}

/* Colors and Backgrounds */
.c-white {
  color: var(--white) !important;
}

.c-cream {
  color: var(--cream);
}

.c-green {
  color: var(--green);
}

.c-black {
  color: black;
}

.h-green:hover {
  color: var(--green);
}

.purple-bg {
  background: var(--purple);
  background-image: var(--purple-bg);
}

.white-bg {
  background: var(--white);
  background-image: var(--white-bg);
}

.green-bg {
  background: var(--green);
  background-image: var(--green-bg);
}

.black-bg {
  background: black;
  background-image: var(--black-bg);
}

.black {
  background: black;
  border: 1px solid var(--white) !important;
}

.fade-black {
  background-image: linear-gradient(to bottom, black 10%, transparent 90%);
}

.red-bg {
  background: var(--red);
  background-image: var(--red-bg);
}

.transparent {
  background: transparent !important;
}

/* Font families and sizes */
.overpass {
  font-family: "Overpass", sans-serif;
}
.small-caps {
  font-variant: small-caps;
}

.heading {
  font-size: 4em;
}

.medium-text {
  font-size: 1.1em;
}

.small-text {
  font-size: 0.9em;
}

.bold {
  font-weight: bold;
}

/* Homepage */
.home-intro {
  min-height: 100vh;
  overflow: hidden;
}

/* grids */
.two-sec-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.two-sec-grid-cols {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "leftCol rightCol";
}

.left-col,
.right-col,
.slick-slider {
  width: 100%;
  height: 100%;
  align-items: center;
}

.left-col {
  grid-area: leftCol;
}

.right-col {
  grid-area: rightCol;
  overflow: hidden;
}

/* Slider */
.slider-container {
  z-index: 99;
}

.slide h3 {
  font-family: "Overpass", sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}

.slide img {
  height: 30vh;
  width: 100%;
}

.slick-arrow {
  display: none !important;
}

.slide-options {
  position: relative;
  width: 100%;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

.prev,
.next,
.pause {
  border: 1px solid var(--white);
  border-radius: 20px;
  background: black;
  color: var(--white);
}

/* Preloader */
.preloader {
  height: auto;
  min-height: 10vh;
  width: 100%;
  align-items: center;
  z-index: 99;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite both;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Video Buttons */
.play-btn-large {
  border: none;
  font-size: 5em;
  border-radius: 50%;
  background: var(--green);
  background-image: var(--green-bg);
  cursor: pointer;
}

.flash {
  animation: shadowanime 0.7s infinite alternate;
}

.flash:hover {
  animation: none;
  box-shadow: 0 0 5px black, 0 0 20px black, 0 0 40px black;
}

@keyframes shadowanime {
  from {
    box-shadow: 0 0 0 transparent;
  }
  to {
    box-shadow: 0 0 5px black, 0 0 20px black, 0 0 40px black;
  }
}

/* Text conent */
.text-content {
  height: auto;
  width: 100%;
  top: 25vh;
  text-align: left;
  font-family: "Overpass", sans-serif;
  font-variant: small-caps;
}
.text-content p {
  font-variant: normal;
}

/* Common Classes */
.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.active {
  display: none;
}

.inactive {
  opacity: 0;
}

.cursor {
  cursor: pointer;
}

.h-100vh {
  height: auto;
  min-height: 100vh;
}

.round {
  border-radius: 50%;
}

/* Buttons */
.large-btn {
  font-size: 2em;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 5px;
  font-family: "Overpass", sans-serif;
  padding: 0 1rem;
}

/* Page Intro */
.page-intro {
  height: auto;
  background: transparent;
  font-family: "Overpass", sans-serif;
}

.page-intro h2 {
  font-weight: bold;
  font-variant: small-caps;
}

/* Single Place */
.place-page-header {
  min-height: 30vh;
  background-size: cover;
  background-position: center center;
}

.place-image {
  width: 100%;
  min-height: 30rem;
  max-height: 30rem;
  border-radius: 10px;
}

.sm-icon {
  font-size: 2em;
  transition: 0.4s;
}

.sm-icon:hover {
  color: rgba(11, 163, 96, 0.6);
}

#user-review,
#user-review:focus {
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
}

/* Footer */
footer {
  font-family: "Overpass", sans-serif;
}

@media (min-width: 481px) and (max-width: 860px) {
  .two-sec-grid-cols {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "rightCol" "leftCol";
  }

  .place-image {
    min-height: 17rem;
    max-height: 17rem;
  }
}

@media only screen and (max-width: 480px) {
  .two-sec-grid-cols {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "rightCol" "leftCol";
  }

  .heading {
    font-size: 3em;
  }

  .place-image {
    min-height: 15rem;
    max-height: 15rem;
  }
}
